<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.msmq://localhost/private/Supervisor" binding="netMsmqBinding"
        bindingConfiguration="QueueBinding" contract="Supervisor.ISupervisorOps"
        name="QueueEndpoint" />
      <endpoint address="net.tcp://localhost:8700/BankA/" binding="netTcpBinding"
        bindingConfiguration="TcpOps" contract="BankA.IBankAOps" name="TcpOps" />
    </client>
    <bindings>
      <netMsmqBinding>
        <binding name="QueueBinding" exactlyOnce="false">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
      <netTcpBinding>
        <binding name="TcpInterBankBinding" transactionFlow="true" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
        <binding name="TcpOpsBinding" transactionFlow="true" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
        <binding name="TcpOps" transactionFlow="true" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="InterBankOpsBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
