<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="TcpInterBank" transactionFlow="true" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
        <binding name="TcpOps" transactionFlow="true" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8700/BankA/" binding="netTcpBinding"
        bindingConfiguration="TcpOps" contract="BankA.IBankAOps" name="TcpOps" />
      <endpoint address="net.tcp://localhost:8702/InterBank/" binding="netTcpBinding"
        bindingConfiguration="TcpInterBank" contract="InterBank.IInterBankOps"
        name="TcpInterBank" />
    </client>
  </system.serviceModel>
</configuration>